@import url("swiper-custom.css");
@import url("header.css");
@import url("marquee-effect.css");

:root {
    --primary-color: #008000;
    --secondary-color: #FFA500;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --header-height: 60px;
}

*::before,*::after {
    box-sizing: border-box;
}

html {
    background: var(--background-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#section-two-img::before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    border-radius: 16px;
    transform: translate3d(0px, -9px, 0px);
    background-size: 1rem 1rem;
    opacity: .5;
    width: 60%;
    height: 50%;
    background-image: radial-gradient(orange 2px, transparent 2.5px);
    top: 20%;
    left: 20%;
}

.border-triangle-white {
    width: 100%;
    height: 80px;
    border-top: 90px solid #FFFFFF;
    border-left: 100dvw solid #fff7f5;
}

.animate-fadeIn {
	opacity: 0;
	animation: fadeIn;
	animation-timing-function: ease-out;
	animation-duration: var(--fadeInDuration);
	animation-fill-mode: forwards;
}

.animate-fadeOut {
    opacity: 1;
    animation: fadeOut;
    animation-timing-function: ease-out;
    animation-duration: var(--fadeOutDuration);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% { opacity: 0; }
/*	50% { opacity: .5; }*/
	100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
/*    50% { opacity: .5; }*/
    100% { opacity: 0; }
}
