:root {
    --primary-color: #008000;
    --secondary-color: #FFA500;
    --background-color: #F5F5F5;
    --text-color: #333333;
    --header-height: 60px;
}

*::before,*::after {
    box-sizing: border-box;
}

html {
    background: var(--background-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background: transparent;
    transition: background .3s ease-in-out;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.header a {
    color: #FFFFFF;
    transition: color .3s ease-in-out;
}

.header .item {
    padding-block: 1.6rem;
    transition: padding-block .3s ease-in-out;
}

.header .item::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 1px;
    background: #FFFFFF;
    transition: width .3s ease-in-out;
}

.header .item:hover::before{
    width: 100%;
}

.header .navbar-burger {
    padding-block: 1.6rem;
    transition: padding-block .3s ease-in-out;
    color: #FFFFFF;
}

.header.scrolled {
    background: var(--background-color);
    border-bottom: 1px solid #EFEFEF;
    box-shadow: 2px 2px 2px #EFEFEF;
}

.header.scrolled a {
    color: #000000;
}

.header.scrolled .item{
    padding-block: 1rem;
}

.header.scrolled .item a {
    font-weight: 400;
    transition: transform .3s ease-in-out;
}

.header.scrolled .item:hover a{
    transform: translate(0, -15%);
}

.header.scrolled .navbar-burger {
    color: #000000;
}

#section-two-img::before, #section-two-img::after {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    border-radius: 16px;
}

#section-two-img::before {
    width: 60%;
    height: 60%;
    border: 8px dashed orange;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#section-two-img::after {
    width: 60%;
    height: 60%;
    border: 7px dashed red;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.swiper-button-prev.top-version {
    position: absolute;
    top: 0;
}

.animate-fadeIn {
	opacity: 0;
	animation: fadeIn;
	animation-timing-function: ease-out;
	animation-duration: var(--fadeInDuration);
	animation-fill-mode: forwards;
}

.animate-fadeOut {
    opacity: 1;
    animation: fadeOut;
    animation-timing-function: ease-out;
    animation-duration: var(--fadeOutDuration);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% { opacity: 0; }
/*	50% { opacity: .5; }*/
	100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
/*    50% { opacity: .5; }*/
    100% { opacity: 0; }
}
