/* Swiper button */
.swipper-custom-navigator {
    position: relative;
    width: 100px;
}

.swiper-button-next.top-version,
.swiper-button-prev.top-version {
    position: absolute;
    background: linear-gradient(to bottom right, #555555, #333333);
    padding-block: .7rem;
    padding-inline: .7rem;
    border-radius: 5px;
    color: #FFFFFF;
    top: 50%;
    transform: translateY(-50%);
    transition: background .5s ease;
}

.swiper-button-next.top-version:hover,
.swiper-button-prev.top-version:hover {
    background: #AAAAAA;    
}

.swiper-button-prev.top-version {
    left: 0;
}

.swiper-button-next.top-version {
    right: 0;
}

/* Swiper pagination */
.swiper-pagination {
    --swiper-pagination-bullet-inactive-color: #AAAAAA;
    --swiper-pagination-color: #FFFFFF;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-width: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    border: 3px solid #AAAAAA;
}

#swiper-pagination-event.swiper-pagination,#swiper-pagination-speech.swiper-pagination {
    --swiper-pagination-bottom: -2.5rem;
}

 #swiper-pagination-speech.swiper-pagination {
    text-align: left;
}

/*.swiper-pagination-bullet {
  background: #d1d5db;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background: #ef4444; 
  opacity: 1;
  transform: scale(1.3);
}*/


/* Index Page - Top Things To Do Swiper*/

/* Top Thing Prev / Next Button */
#top-things-swiper-prev svg, 
#top-things-swiper-next svg {
    display: none;
}

#top-things-swiper-prev, 
#top-things-swiper-next {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 50%;
    top: auto;
    bottom: 50px;
}

#top-things-swiper-prev{ 
    left: 330px; 
}

#top-things-swiper-next{ 
    left: 400px; 
}

/* Top Thing swiper slide */
#top-things-to-do .swiper-slide {
    display: flex;
    justify-content: center;
}

#top-things-to-do .swiper-slide img{
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    transition: all .6s ease;
}

@media (min-width: 1023px){
    #top-things-to-do .swiper-slide img{
        object-fit: cover;
        aspect-ratio: 2 / 3;
        width: 90%;
        transition: all .6s ease;
    }

    #top-things-to-do .swiper-slide.swiper-slide-active img, 
    #top-things-to-do .swiper-slide.swiper-slide-prev img{
        width: 100%;
        aspect-ratio: 9 / 16;
    }
}

#top-things-to-do .swiper-wrapper {
    --swiper-wrapper-transition-timing-function: linear;
    transition-duration: .7s !important;
}

/* End Index (Top Things To Do Swiper) */